.interestsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#interests {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.interestsText {
    flex: 2;
    padding-right: 2rem;
    font-size: 2rem;
    text-align: center;
    padding: 10rem;
}

/*.interestsImage {*/
/*    flex: 1;*/
/*    max-width: 30%;*/
/*    max-height: 30%;*/
/*    height: 50rem;*/
/*    width: 10rem;*/
/*    padding: 10rem;*/
/*    border-radius: 50%;*/
/*}*/

.interestsImage {
    flex: 1;
    width: 40rem;
    transform: translateY(2rem);
    max-width: 100%;
    padding-right: 10rem;
    height: auto;
}

.paragraphText{
    inline-size: auto;
}
